/** export-ignore
/dist -export-ignore
/dist/** -export-ignore
/src/lang -export-ignore
/src/lang/** -export-ignore
/src/lib -export-ignore
/src/lib/** -export-ignore
/.security.txt -export-ignore
/composer.json -export-ignore
/composer.lock -export-ignore
/LICENSE -export-ignore
