////
/// Grid Layout
///
/// @since 0.1.0
///
/// @author [GrottoPress](https://www.grottopress.com)
/// @author [N Atta Kus Adusei](https://twitter.com/akadusei)
////

/**
 * Grid Layout
 */

.layout-grid.posts-wrap {
    @include grid((
        gutter: map-get($gutter, normal),
        columns: '.post-wrap',
        use: 'float',
    ));

    > .post-wrap {
        margin-bottom: 0;
        
        &.big > header > .entry-title {
            font-size: 1.43em;
        }
    }

    .pagination {
        @include paragraph;
    }
}

@media (min-width: map-get($breakpoints, medium)) {
    .layout-grid.posts-wrap {
        > .post-wrap {
            width: 50%;
        }
	}
}

@media (min-width: map-get($breakpoints, wide)) {
    .layout-grid.posts-wrap {
        > .post-wrap {
            width: 33.33%;
        }
	}
}
