/**
 * Thumbnails
 */

.post-wrap {
    .thumb,
    .avatar {
        float: left;
        margin-right: 10px;
        @apply mr-3 float-left;
    }

    .entry-meta {
        .avatar {
            @apply inline-block mr-0 float-none;
        }
    }
}

/*!rtl:begin:ignore*/

.img-align-left {
    > .post-wrap {
        > .thumb,
        > a > .thumb,
        > .avatar {
            @apply float-left;
        }
    }
}

.img-align-right {
    > .post-wrap {
        > .thumb,
        > a > .thumb,
        > .avatar {
            @apply float-right mr-0 ml-3;
        }
    }
}

/*!rtl:end:ignore*/

.img-align-none {
    > .post-wrap {
        > .thumb,
        > a > .thumb,
        > .avatar {
            float: none;
            margin-right: 0;
            @apply float-none mr-0;
        }
    }
}
