/**
 * Thumbnails
 */

.post-wrap {
    .thumb,
    .avatar {
        float: left;
        margin-right: 10px;
    }

    .entry-meta {
        .avatar {
            float: none;
            margin-right: 0;
            @include inline-block;
        }
    }
}

/*!rtl:begin:ignore*/

.img-align-left {
    > .post-wrap {
        > .thumb,
        > a > .thumb,
        > .avatar {
            float: left;
        }
    }
}

.img-align-right {
    > .post-wrap {
        > .thumb,
        > a > .thumb,
        > .avatar {
            float: right;
            margin-right: 0;
            margin-left: 10px;
        }
    }
}

/*!rtl:end:ignore*/

.img-align-none {
    > .post-wrap {
        > .thumb,
        > a > .thumb,
        > .avatar {
            float: none;
            margin-right: 0;
        }
    }
}
