////
/// Variables
///
/// @since 0.1.0
///
/// @author [GrottoPress](https://www.grottopress.com)
/// @author [N Atta Kus Adusei](https://twitter.com/akadusei)
////

$breakpoints: ('medium': 800px, 'wide': 960px);
$gutter: ('tiny': 5px, 'small': 10px, 'normal': 20px);
$separator: 1px solid #ddd;

$font-color-grey: #999;
